#upper{
    font-size: 30px;
    font-weight: bold;
}

#lower{
    font-size: 25px;

}

#content{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#qtext{
    font-size: 18px;
    font-family: 'Google Sans', sans-serif;
}

#eikona{
    width: 30%;
    transform: translate(120%, 0%);
}
