.titles{
  display: flex;
  align-items: center;
  flex-direction: column; 
  background-color: transparent;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  color: #b5e853;
}

.titles h1 {
    display: block; 
    font-size: 2em;
    margin-bottom: 0;
    
  }
  
  .titles h3 {
    display: block;
    font-size: 1.17em;
  }
  
  .titles hr {
    border: 1px dashed #b5e853; 
    width: 80%; 
    margin-bottom: 2%;
    
  }
  
  .cards {
    display: flex;
    margin: 20px;
    justify-content: center;
    flex-wrap: wrap;  
  }
  
