.custom-card {
    flex-grow: 1; 
    margin: 0.5%; 
    padding: 0;
    text-align: center; 
    max-width: calc(33.3333% - 10%);
    background-color: #e0e0e0;
    border: 2px solid white;
    box-shadow: 5px 5px 10px #bebebe,
                -5px -5px 10px #ffffff;
    border-radius: 10px;
    transition: 0.3s;
}

.custom-card:hover
{
    transition: 0.1s;
    transform: scale(1.05); /* Increase scale on hover */
    box-shadow: 4px 4px 8px #0b5b00,
    -4px -4px 8px #0b5b00; /* Adjust shadow on hover */
}