.tilt-card {
  position: relative;
  width: 20rem;
  height: 25rem;
  background-color: black;
  backdrop-filter: blur(8px);

  border-radius: 0.75rem;
  border: 2px solid #b5e853; /* Added border property */
  overflow: hidden;
  transform: scale(0.9);
  gap: 3rem;
}

.tilt-img-container {
  height: 75%; /* Adjusted height to take up 75% of the container */
}

.tilt-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tilt-title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 25%; /* Adjusted height to take up 25% of the container */
  padding: 1rem;
  background-color: rgba(
    0,
    0,
    0,
    0.7
  ); /* Added background color to title area for better readability */
  color: #b5e853;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Added to center content horizontally */
}
