.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; 
  width: auto; 
}

  /* Ensure the Matrix effect canvas has a lower z-index */
  canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; 
  }